<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<mat-nav-list>
  <mat-list-item >
    <a matLine href="">JFK Car Park</a>
    <i class="material-icons">
      chevron_right
    </i>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item >
    <a matLine href="">TGR Car Park</a>
    <i class="material-icons">
      chevron_right
    </i>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item >
    <a matLine href="">Heart Ease Car Park</a>
    <i class="material-icons">
      chevron_right
    </i>
  </mat-list-item>

</mat-nav-list>